@font-face {
    font-family: 'casino_hand';
    src: url('../fonts/casinohand-webfont.eot');
    src: url('../fonts/casinohand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/casinohand-webfont.woff') format('woff'),
         url('../fonts/casinohand-webfont.ttf') format('truetype'),
         url('../fonts/casinohand-webfont.svg#casino_hand') format('svg');
    font-weight: normal;
    font-style: normal;
}