/* ==========================================================================
	Variables
   ========================================================================== */

$yellow: #d9b24c;
$dark-purple: #271724;

/* ==========================================================================
	Helpers
   ========================================================================== */

.text_left { text-align:left; }
.text_right { text-align: right; }
.text_center { text-align: center; }

.vertical_align { 
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.img_100 { max-width: 100%; }

.overflow_hidden { overflow: hidden; }
.overflow_visible { overflow: visible; }

.third1 { width: 33.3%; }
.third2 { width: 62%; }
.third3_full { width: 66.7%; }

.col40 {
	width: 40%;
}

.col45 {
	width: 45%;
}

.quart1 { width: 25%; }
.quart3 { width: 70%; }
.quart3_full { width: 75%; }

.half { width: 49%; }
.half_full { width: 50%; }

.left { float: left; }
.right { float: right; }

.relative { position: relative; }
.absolute { position: absolute; }	

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.view_desktop { }
.view_tablet { }
.view_mobile { }

/* ==========================================================================
	Colors
   ========================================================================== */

.yellow {
	color: $yellow;
}

.dark-purple {
	color: $dark-purple;
}

.white {
	color: #fff;
}

/* ==========================================================================
	Margins & paddings
   ========================================================================== */

.margin_top_10 { margin-top: 10px; }
.margin_bottom_10 { margin-bottom: 10px; }
.margin_bottom_30 { margin-bottom: 30px; }

.margin_bottom_40 {
	margin-bottom: 40px;
	@include mq("mobile")
	{
	  margin-bottom: 30px;
	}	
}

.margin_bottom_100 {
	margin-bottom: 100px;
	@include mq("mobile")
	{
	  margin-bottom: 60px;
	}	
}

.padding_topbottom_100 {
	padding-top: 100px;
	padding-bottom: 100px;
	@include mq("tablet")
	{
	  padding-top: 50px;
	  padding-bottom: 50px;
	}	
}

/* ==========================================================================
	Fonts
   ========================================================================== */

.roadrage { font-family: 'roadrage'; }
.light { font-weight: 300; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.ttu, .text_uppercase { text-transform: uppercase; }

/* ==========================================================================
	Main layout
   ========================================================================== */

html, body {
	position: relative;
	height: 100%;
}

body {
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.container {
	padding-left: 40px;
	padding-right: 40px;
	max-width: 100%;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	@include mq("tablet")
	{
	  padding-left: 25px;
	  padding-right: 25px;
	}	
}

.section {
	background-color: #fff;
	min-height: 100%;
	overflow: hidden;
}

.section--intro {
	position: relative;
	@extend .noise;
	@extend .gradient;
	background: url(../../graphics/intro_bg.jpg) center center no-repeat fixed;
	/*background: url(https://images.unsplash.com/photo-1507149677524-254e3ebb240f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a4abd951ea1c9ad88ada84cef4a6eb5&auto=format&fit=crop&w=1351&q=80) center center no-repeat fixed;*/
	background-size: cover;
}

.section--projects {
	position: relative;
	z-index: 10;
}

.intro_overlay {
	background: $dark-purple;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	opacity: 0;
}

.intro_bg {
	/*background: url(https://images.unsplash.com/photo-1519068724163-875792bb7c03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c40b36406e51e677bc2cef7138f0061&auto=format&fit=crop&w=1924&q=80) center center no-repeat fixed;*/
	/*background: url(https://images.unsplash.com/photo-1507149677524-254e3ebb240f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a4abd951ea1c9ad88ada84cef4a6eb5&auto=format&fit=crop&w=1351&q=80) center center no-repeat fixed;*/
	background: url(https://images.unsplash.com/photo-1500840470399-1a3f0ed68783?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6b8136eaba0b1d77c1311640ffeaf42&auto=format&fit=crop&w=634&q=80) center center no-repeat fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -10%;
	width: 120%;
	height: 100%;
	z-index: 2;
	opacity: 0.05;
	animation: glitch-bg 6s infinite linear alternate-reverse;
}

/* ==========================================================================
	Sidebar
   ========================================================================== */

html.noscroll {
    overflow-y: hidden;
    width: 100%;
}

.sidebar {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	top: 0;
	z-index: 1000;
	overflow-y: auto;
	@extend .transition_slow;
	&.show {
		.sidebar__close {
			right: 0;
		}
	}
}

.sidebar--about {
	left: -100%;
	&.show {
		left: 0;
	}	
}

.sidebar--contact {
	right: -100%;
	&.show {
		right: 0;
	}	
}

.sidebar__close {
	position: fixed;
	right: -80px;
	top: 0;
	height: 80px;
	background: $yellow;
	cursor: pointer;
	width: 80px;
	text-indent: -9999px;
	@extend .transition_slow;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: $dark-purple;
		width: 0;
		@extend .transition;
	}
	&:after {
		width: 30px;
		height: 30px;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		background: url(../../graphics/close.png) center center no-repeat;
		background-size: contain;
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
}

.sidebar_overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}

.sidebar_overlay--about1 {
	left: -100%;
	background: $dark-purple;
	transition: all 1s cubic-bezier(.175, .885, .32, 1);
	z-index: 777;
	&.show {
		left: 0;
	}
}

.sidebar_overlay--about2 {
	left: -100%;
	background: $yellow;
	transition: all 1.5s cubic-bezier(.175, .885, .32, 1);
	z-index: 888;
	&.show {
		left: 0;
	}
}

.sidebar_overlay--contact1 {
	right: -100%;
	background: $dark-purple;
	transition: all 1s cubic-bezier(.175, .885, .32, 1);
	z-index: 777;
	&.show {
		right: 0;
	}
}

.sidebar_overlay--contact2 {
	right: -100%;
	background: $yellow;
	transition: all 1.5s cubic-bezier(.175, .885, .32, 1);
	z-index: 888;
	&.show {
		right: 0;
	}
}

.sidebar__content {
	@extend .container;
	@extend .transition_slow;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* ==========================================================================
	Titles
   ========================================================================== */

.title_section {
	font-size: 48px;
	color: $dark-purple;
	margin-bottom: 40px;
	line-height: 1.2;
}

/* ==========================================================================
	Separation
   ========================================================================== */

.sepa {
	width: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 7;
	height: 10px;
}

/* ==========================================================================
	Logo
   ========================================================================== */

.logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	@extend .roadrage;
	color: #fff;
	font-size: 100px;
	line-height: 1;
	text-align: center;
}

.logo__item {
	display: block;
	@extend .glitch;
}

.logo__item--line {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 60px;	
	margin-bottom: -20px;
	color: $yellow;
	&.glitch {
		position: absolute;
	}
}

/* ==========================================================================
	Nav
   ========================================================================== */

.nav--top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 666;
	text-align: center;
	padding: 20px 0;
	background: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,0.05);
	strong {
		color: $dark-purple;
		@extend .bold;
	}
	.container {
		position: relative;
	}
}

.nav--intro {
	.nav__item {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-size: 13px;
		z-index: 8;
		cursor: pointer;
		@extend .transition;
		&:before {
			content: '';
			position: absolute;
			width: 1px;
			height: 30px;
			background: #fff;
			left: 50%;
			@extend .transition;
		}
		&:hover {
			color: $yellow;
			&:before {
				background: $yellow;
				height: 40px;
			}
		}
		span {
			position: relative;
		}
	}
}

.nav__item--abs1 {
	top: 50%;
	left: 0;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: top left;
	padding-top: 60px;
	&:before {
		top: 0;
	}	
}

.nav__item--abs2 {
	top: 50%;
	right: 0;
	transform: rotate(90deg) translateX(50%);
	transform-origin: top right;
	padding-top: 60px;
	&:before {
		top: 0;
	}	
}

.nav__item--abs3 {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 60px;
	&:before {
		bottom: 0;
	}
}   

.hamburger {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 25px;
	background: $yellow;
	cursor: pointer;
	width: 80px;
	@extend .transition;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: $dark-purple;
		width: 0;
		@extend .transition;
	}
	&:hover {
		.hamburger__line--top {
			left: 0;
		}
		.hamburger__line--center {
			left: 12px;
		}
		.hamburger__line--bottom {
			left: 6px;
		}
		&:before {
			width: 100%;
		}
	}
}

.hamburger__line {
	height: 2px;
	position: relative;
	z-index: 3;
	background: #fff;
	left: 0;
	margin-bottom: 4px;
	@extend .transition;
	&:last-child {
		margin-bottom: 0;
	}
} 

.hamburger__line--top {
	width: 30px;
}

.hamburger__line--center {
	width: 18px;
}

.hamburger__line--bottom {
	width: 24px;
}

.nav__scroll {
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
	@extend .bounce;
}

/* ==========================================================================
	Forms
   ========================================================================== */

#blob {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.1;
}

/* ==========================================================================
	Forms
   ========================================================================== */

button, input, optgroup, select, textarea {
	font: inherit;
}

/* ==========================================================================
	Wysiwyg
   ========================================================================== */

.wysiwyg {
	color: #989898;
	line-height: 1.8;
	letter-spacing: 1px;
}

.wysiwyg strong {
	color: #333;
	font-weight: bold;
}

.wysiwyg ul {
	padding-left: 20px;
}

.wysiwyg li {
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.wysiwyg li:last-child {
	margin-bottom: 0;
}

.wysiwyg li:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 4px;
	height: 4px;
	left: 0;
	top: 9px;
}

.wysiwyg a {
	text-decoration: underline;
}

.wysiwyg a:hover {
	text-decoration: none;
}

/* ==========================================================================
	Responsive
   ========================================================================== */

.tablet_full {
 @include mq("tablet")
 {
    width: 100%;
 }
}

.tablet_half {
 @include mq("tablet")
 {
    width: 50%;
 }
}

.tablet_hidden {
 @include mq("tablet")
 {
    display: none;
 }
}

.tablet_show {
 display: none;
 @include mq("tablet")
 {
    display: block;
 }
}

.mobile_hidden {
 @include mq("mobile")
 {
    display: none;
 }
}  

.mobile_full {
 @include mq("mobile")
 {
    width: 100%;
 }
}  

.tablet_third {
 @include mq("tablet")
 {
    width: 33.3333%;
 }
}  

.mobile_half {
 @include mq("mobile")
 {
    width: 50%;
 }
} 

/* ==========================================================================
	Animations
   ========================================================================== */

.transition {
	transition: all 0.3s cubic-bezier(.175, .885, .32, 1);
}

.transition_slow {
	transition: all 2s cubic-bezier(.175, .885, .32, 1);
}

.bounce {
    animation: bounce 2s infinite ease-in-out;
}

.glitch{
  position: relative;
}

.glitch:after, .glitch:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch:before {
    left: 1px;
    text-shadow: -2px 0 #ffd632;
    clip: rect(24px,550px,90px,0);
    animation: glitch-anim-2 6s infinite linear alternate-reverse;
}

.glitch:after {
    left: -1px;
    text-shadow: -2px 0 #ff0000;
    clip: rect(85px,550px,140px,0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(125px, 9999px, 63px, 0)
    }
    4.16666667% {
        clip: rect(94px, 9999px, 85px, 0)
    }
    8.33333333% {
        clip: rect(131px, 9999px, 127px, 0)
    }
    12.5% {
        clip: rect(133px, 9999px, 68px, 0)
    }
    16.66666667% {
        clip: rect(91px, 9999px, 23px, 0)
    }
    20.83333333% {
        clip: rect(6px, 9999px, 6px, 0)
    }
    25% {
        clip: rect(66px, 9999px, 41px, 0)
    }
    29.16666667% {
        clip: rect(110px, 9999px, 44px, 0)
    }
    33.33333333% {
        clip: rect(72px, 9999px, 53px, 0)
    }
    37.5% {
        clip: rect(121px, 9999px, 120px, 0)
    }
    41.66666667% {
        clip: rect(125px, 9999px, 146px, 0)
    }
    45.83333333% {
        clip: rect(138px, 9999px, 83px, 0)
    }
    50% {
        clip: rect(78px, 9999px, 79px, 0)
    }
    54.16666667% {
        clip: rect(75px, 9999px, 139px, 0)
    }
    58.33333333% {
        clip: rect(137px, 9999px, 130px, 0)
    }
    62.5% {
        clip: rect(76px, 9999px, 83px, 0)
    }
    66.66666667% {
        clip: rect(63px, 9999px, 116px, 0)
    }
    70.83333333% {
        clip: rect(142px, 9999px, 112px, 0)
    }
    75% {
        clip: rect(70px, 9999px, 55px, 0)
    }
    79.16666667% {
        clip: rect(90px, 9999px, 89px, 0)
    }
    83.33333333% {
        clip: rect(149px, 9999px, 150px, 0)
    }
    87.5% {
        clip: rect(63px, 9999px, 93px, 0)
    }
    91.66666667% {
        clip: rect(130px, 9999px, 82px, 0)
    }
    95.83333333% {
        clip: rect(23px, 9999px, 16px, 0)
    }
    to {
        clip: rect(29px, 9999px, 67px, 0)
    }
}

@keyframes glitch-anim-2 {
    6.66666667% {
        clip: rect(78px, 9999px, 5px, 0)
    }
    10% {
        clip: rect(32px, 9999px, 97px, 0)
    }
    13.33333333% {
        clip: rect(60px, 9999px, 127px, 0)
    }
    16.66666667% {
        clip: rect(51px, 9999px, 40px, 0)
    }
    20% {
        clip: rect(20px, 9999px, 70px, 0)
    }
    23.33333333% {
        clip: rect(3px, 9999px, 125px, 0)
    }
    26.66666667% {
        clip: rect(47px, 9999px, 142px, 0)
    }
    30% {
        clip: rect(9px, 9999px, 74px, 0)
    }
    33.33333333% {
        clip: rect(24px, 9999px, 90px, 0)
    }
    36.66666667% {
        clip: rect(86px, 9999px, 7px, 0)
    }
    40% {
        clip: rect(7px, 9999px, 101px, 0)
    }
    43.33333333% {
        clip: rect(121px, 9999px, 138px, 0)
    }
    46.66666667% {
        clip: rect(68px, 9999px, 129px, 0)
    }
    50% {
        clip: rect(144px, 9999px, 132px, 0)
    }
    53.33333333% {
        clip: rect(61px, 9999px, 80px, 0)
    }
    56.66666667% {
        clip: rect(120px, 9999px, 123px, 0)
    }
    60% {
        clip: rect(31px, 9999px, 32px, 0)
    }
    63.33333333% {
        clip: rect(96px, 9999px, 59px, 0)
    }
    66.66666667% {
        clip: rect(37px, 9999px, 47px, 0)
    }
    70% {
        clip: rect(96px, 9999px, 14px, 0)
    }
    73.33333333% {
        clip: rect(42px, 9999px, 128px, 0)
    }
    76.66666667% {
        clip: rect(44px, 9999px, 140px, 0)
    }
    80% {
        clip: rect(93px, 9999px, 128px, 0)
    }
    83.33333333% {
        clip: rect(19px, 9999px, 141px, 0)
    }
    86.66666667% {
        clip: rect(21px, 9999px, 19px, 0)
    }
    90% {
        clip: rect(102px, 9999px, 90px, 0)
    }
    93.33333333% {
        clip: rect(95px, 9999px, 27px, 0)
    }
    96.66666667% {
        clip: rect(35px, 9999px, 149px, 0)
    }
    to {
        clip: rect(38px, 9999px, 83px, 0)
    }
}

@keyframes glitch-bg {
    6.66666667% {
        left: -10px
    }
    10% {
        left: 20px
    }
    13.33333333% {
        left: -5px
    }
    16.66666667% {
        left: 0
    }
    20% {
        left: 30px
    }
    23.33333333% {
        left: -10px
    }
    26.66666667% {
        left: 5px
    }
    30% {
        left: 0
    }
    33.33333333% {
        left: 0
    }
    36.66666667% {
        left: 0
    }
    40% {
        left: 5px
    }
    43.33333333% {
        left: -20px
    }
    46.66666667% {
        left: 15px
    }
    50% {
        left: -25px
    }
    53.33333333% {
        left: 5px
    }
    56.66666667% {
        left: -5px
    }
    60% {
        left: 10px
    }
    63.33333333% {
        left: 0
    }
    66.66666667% {
        left: 0
    }
    70% {
        left: 0
    }
    73.33333333% {
        left: 25px
    }
    76.66666667% {
        left: -20px
    }
    80% {
        left: 30px
    }
    83.33333333% {
        left: 0
    }
    86.66666667% {
        left: 0
    }
    90% {
        left: 0
    }
    93.33333333% {
        left: -30px
    }
    96.66666667% {
        left: 10px
    }
    to {
        left: 0
    }
}

@keyframes bounce {
  0%       { transform:translateY(-5px); }
  50%      { transform:translateY(6px); }
  100%     { transform:translateY(-5px); }
}

.gradient {
	&::after {
		content: '';
		position: absolute;
		opacity: 0.1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
		background-size: 400% 400%;
		animation: gradient 40s ease infinite;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.noise {
    &::before {
        content: "";
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../graphics/noise.png');
        animation: 1s infinite noise;
        pointer-events: none;
    }
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}