/* ==========================================================================
	Variables
   ========================================================================== */

$orange: #f08500;
$brown_dark: #291c10;
$brown: #4a382b;
$black: #1d1d1b;
$green: #b2d04b;

/* ==========================================================================
	Helpers
   ========================================================================== */

.text_left { text-align:left; }
.text_right { text-align: right; }
.text_center { text-align: center; }

.vertical_align { 
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.img_100 { max-width: 100%; }

.overflow_hidden { overflow: hidden; }
.overflow_visible { overflow: visible; }

.third1 { width: 33.3%; }
.third2 { width: 62%; }
.third3_full { width: 66.7%; }

.col40 {
	width: 40%;
}

.col45 {
	width: 45%;
}

.quart1 { width: 25%; }
.quart3 { width: 70%; }
.quart3_full { width: 75%; }

.half { width: 49%; }
.half_full { width: 50%; }

.left { float: left; }
.right { float: right; }

.relative { position: relative; }
.absolute { position: absolute; }	

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.view_desktop { }
.view_tablet { }
.view_mobile { }

/* ==========================================================================
	Colors
   ========================================================================== */

.orange {
	color: $orange;
}

.green {
	color: $green;
}

.white {
	color: #fff;
}

/* ==========================================================================
	Margins & paddings
   ========================================================================== */

.margin_top_10 { margin-top: 10px; }
.margin_bottom_10 { margin-bottom: 10px; }
.margin_bottom_30 { margin-bottom: 30px; }

.margin_bottom_40 {
	margin-bottom: 40px;
	@include mq("mobile")
	{
	  margin-bottom: 30px;
	}	
}

.margin_bottom_100 {
	margin-bottom: 100px;
	@include mq("mobile")
	{
	  margin-bottom: 60px;
	}	
}

.padding_topbottom_100 {
	padding-top: 100px;
	padding-bottom: 100px;
	@include mq("tablet")
	{
	  padding-top: 50px;
	  padding-bottom: 50px;
	}	
}

/* ==========================================================================
	Animations
   ========================================================================== */

.transition {
	transition: all 0.3s cubic-bezier(.175, .885, .32, 1);
}

@keyframes bounce {
  0%       { top:-5px; }
  50%      { top:6px; }
  100%     { top:-5px;}
}

.gradient {
	&::after {
		content: '';
		position: absolute;
		opacity: 0.1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
		background-size: 400% 400%;
		animation: gradient 40s ease infinite;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.noise {
    &::before {
        content: "";
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://anatacreative.com/codepen/noise.png');
        animation: 1s infinite noise;
        pointer-events: none;
    }
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

/* ==========================================================================
	Fonts
   ========================================================================== */

.regular { font-weight: 400; }
.semibold { font-weight: 600; }
.italic { font-style: italic; }
.ttu, .text_uppercase { text-transform: uppercase; }

/* ==========================================================================
	Main layout
   ========================================================================== */

html, body {
	position: relative;
	height: 100%;
}

body {
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	position: relative;
}

.container {
	padding-left: 40px;
	padding-right: 40px;
	max-width: 100%;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	@include mq("tablet")
	{
	  padding-left: 25px;
	  padding-right: 25px;
	}	
}

.section {
	min-height: 100%;
	overflow: hidden;
}

.section--intro {
	position: relative;
	@extend .noise;
	@extend .gradient;
	background: url(../../graphics/intro_bg.jpg) center center no-repeat fixed;
	background-size: cover;
}

.section--projects {
	position: relative;
	z-index: 2;
}

/* ==========================================================================
	Forms
   ========================================================================== */

#blob {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.1;
}

/* ==========================================================================
	Forms
   ========================================================================== */

button, input, optgroup, select, textarea {
	font: inherit;
}

/* ==========================================================================
	Wysiwyg
   ========================================================================== */

.wysiwyg {
	color: #989898;
	line-height: 1.8;
	letter-spacing: 1px;
}

.wysiwyg strong {
	color: #333;
	font-weight: bold;
}

.wysiwyg ul {
	padding-left: 20px;
}

.wysiwyg li {
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.wysiwyg li:last-child {
	margin-bottom: 0;
}

.wysiwyg li:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 4px;
	height: 4px;
	background: $green;
	left: 0;
	top: 9px;
}

.wysiwyg a {
	text-decoration: underline;
}

.wysiwyg a:hover {
	text-decoration: none;
}

/* ==========================================================================
	Responsive
   ========================================================================== */

.tablet_full {
 @include mq("tablet")
 {
    width: 100%;
 }
}

.tablet_half {
 @include mq("tablet")
 {
    width: 50%;
 }
}

.tablet_hidden {
 @include mq("tablet")
 {
    display: none;
 }
}

.tablet_show {
 display: none;
 @include mq("tablet")
 {
    display: block;
 }
}

.mobile_hidden {
 @include mq("mobile")
 {
    display: none;
 }
}  

.mobile_full {
 @include mq("mobile")
 {
    width: 100%;
 }
}  

.tablet_third {
 @include mq("tablet")
 {
    width: 33.3333%;
 }
}  

.mobile_half {
 @include mq("mobile")
 {
    width: 50%;
 }
} 